*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

html{
    font-size: 62.5%;
}

body{
    font-family: sans-serif;
    font-size: 1.6rem;
}
img{
    width: auto;
    height: 10rem;
}
.header > img{
    width: auto;
    height: 12rem;
}
.product-one{
    margin-left: auto;
    gap: 2rem;
}
.header{
    background-color: white;
    display:flex;
    height: 12rem;
    align-items: center;
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    gap: 2rem;
    list-style: none;
}
a{
    text-decoration: white;
    color:black;
}

.headerTitle{
    color: white;
    text-transform: uppercase;
    font-size: 300%;
    font-weight: 40rem;
}

.headerButten{
    text-transform: uppercase;
    background:transparent;
    color: black;
    outline: none;
    border: none;
    font-size: 150%;
    letter-spacing: 0.2rem;
}

.headerButten:hover{
    cursor:pointer;
}
.mainNavigation{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity:0;
    transition: 0.8s all;
}

.mainNavigationList{
  list-style: none;
}

.mainNavigationListItem{
    color: white;
    font-size: 350%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.mainNavigationListItem > a {
   text-decoration: none;
   color: white;
}

.bigFigure{
    width: 100%;
    height: 110vh;
    position: relative;
}

.infoman{
    font-size: 5rem;
}

.infotext-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.top-left {
    position: absolute;
    top:30rem;
    left: 10rem;
    color: white;
    background: black;
    font-size: 3rem;
  }

.bigFigure > img{
    width: 100%;
    height: 80rem;
    object-fit: cover;
    text-align: center;
    color: white;
}


.collections{
    width: 100%;
    padding: 4rem;
}

.collectionsbig{
    width: 100%;
    padding: 4rem;
    display: flex;
}

.collectionsTitle, .infoTitle{
    font-size: 350%;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom:4rem;
}

.collectionsList{
   list-style: none;
   display: flex;
   gap: 40px;
   flex-wrap: wrap;
}

.collectionsListbig{
    list-style: none;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.collectionsListItem{
    width: 30rem;
    height: 60rem;
    flex-shrink: 1;
    flex-grow: 1;
}
.myButton {
    top:40rem;
    right:140rem;
    position: absolute;
	background-color:#000000;
	border-radius:28rem;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:5rem;
	padding:1rem 3.1rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#ffffff;
}
.myButton:active {
	position:relative;
	top:12rem;
}

.myButton2 {
    top:150rem;
    right:70rem;
    position: absolute;
	background-color:#000000;
	border-radius:28rem;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:5rem;
	padding:1rem 3.1rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton2:hover {
	background-color:#ffffff;
}
.myButton2:active {
	position:relative;
	top:12rem;
}

.collectionsListItembig{
    width: 70rem;
    height: 60rem;
    flex-shrink: 1;
    flex-grow: 1;
    list-style: none;
}

.collectionsListItembig > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collectionsListItem > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    padding: 4rem;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.block{
    width: 40rem;
    flex-shrink: 1;
    flex-grow: 1;
}

.footer{
    height: 12rem;
    background: black;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.footerNavigation{
    list-style: none;
}

.footerNavigationItem{
    font-size: 80%;
    font-style: italic;
}

.footerNavigationItem > a{
    color: white;
    text-decoration: none;
}

.footer > address{
    font-size: 80%;
}